body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    background-image: url("img/avt-dhtg.jpg");
    text-align: center;
    padding-top: 50px;
}

.card {
    background: rgb(160, 196, 238);
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
background-color: #45a049;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
background-color: #002aff;
}

.info {
    display: none;
    background: rgb(160, 196, 238);
    width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: left;
    font-size: 30px;
}
body {

    font-family: Arial, sans-serif;
}

/* Khung lý lịch */
.profile-card {
    width: 350px;
     background: rgb(160, 196, 238);
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.profile-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Nút */
.btn {
    margin-top: 15px;
    padding: 10px 15px;

    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

/* Danh sách việc */
#work-list {
    display: none;
    margin-top: 15px;
    text-align: left;
}

#work-list ul {
    padding-left: 20px;
    font-size: 30px;
}

#work-list li {
    margin: 8px 0;
}
